#canvas {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  padding: 0;
  background-color: white;
  outline: 10px ridge black;
}

#gameboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

#score {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  font: 1.2em "Fira Sans";
  outline: 2px dotted black;
  background-color: aqua;
  opacity: 1;
}

#gamestats {
  margin-top: 10px;
  /* Adjust the value as needed */
}

.sliders {
  align-self: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  /* Adjust the value as needed */
}

.roomNumberField {
  display: none;
}

#gamestats{
  display: none;
}

.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.github-button {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
}

.github-button {
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;
  
  background-image: -webkit-linear-gradient(
    top left,
    rgba(189, 195, 199, 0.2) 0%,
    rgba(189, 195, 199, 0.2) 37%,
    rgba(189, 195, 199, 0.8) 45%,
    rgba(189, 195, 199, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(189, 195, 199, 0.2) 0%,
    rgba(189, 195, 199, 0.2) 37%,
    rgba(189, 195, 199, 0.8) 45%,
    rgba(189, 195, 199, 0.0) 50%
  );    
  background-image: -o-linear-gradient(
    0 0,
    rgba(189, 195, 199, 0.2) 0%,
    rgba(189, 195, 199, 0.2) 37%,
    rgba(189, 195, 199, 0.8) 45%,
    rgba(189, 195, 199, 0.0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(189, 195, 199, 0.2) 0%,
    rgba(189, 195, 199, 0.2) 37%,
    rgba(189, 195, 199, 0.8) 45%,
    rgba(189, 195, 199, 0.0) 50%
  );
  
  -moz-background-size: 250% 250%, 100% 100%;
       background-size: 250% 250%, 100% 100%;
  
  -webkit-transition: background-position 0s ease;
     -moz-transition: background-position 0s ease;       
       -o-transition: background-position 0s ease;
          transition: background-position 0s ease;
}

.github-button:hover {
  background-position: 0 0, 0 0;
  
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
}